version: '3.9'

services:
  db:
    image: mongo:7
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
      - MONGODB_URI=mongodb://db:27017/taskflow
      - JWT_SECRET=supersecret123   # yahan apna secret dal sakti ho
    depends_on:
      - db
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    restart: always
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:5000/api/v1
    ports:
      - "5173:80"

volumes:
  mongo_data:
